
.rabbit-card {
    background-color: var(--clr-text);
    text-align: center;
    padding: 5rem 1rem 0 1rem;
    max-height: 70%;
    margin: 1rem 0;
    border-radius: 2rem;
}

p.desc{
    padding: 0 1rem;
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.5rem;
}

.adoptable-img {
    width: 20rem;
    height: 20rem;
    object-fit: cover;
    border-radius: 50%;
    border: .5rem solid white;
}

.carrot {
    position: relative;
    width: 15rem;
    left: 6rem;
    bottom: 40rem;
}

.name {
    position:absolute;
    bottom: 30%;
    left: 20%;
    text-transform: capitalize;
    color: white;
    font-weight: 700;
    font-size: 1.5rem;
}

.info p {
    margin: 0;
    text-align: left;
}

span.bold {
    font-weight: 700;
    text-transform: uppercase;
}