.footer {
    text-align: center;
}

.donate {
    background-color: var(--clr-background);
    color: var(--clr-text);
    border: none;
    padding: .75rem 1rem;
    width: 70%;
    margin: auto;
    margin-bottom: .5rem;
    border-radius: .25rem;
}

.donate:hover {
    background-color: var(--clr-accent);
    transition: background-color var(--transition);

}

.socials {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.social-icons {
    font-size: 1.75rem ;
    margin: .25rem;
}

.social-icons svg {
    color: var(--clr-background);
}

.social-icons svg:hover {
    color: var(--clr-accent);
    transition: color var(--transition);
}

.footer a {
    color: black;
}