.footer {
    margin-top: 2rem;
    text-align: center;
}

.socials {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.social-icons {
    font-size: 1.75rem ;
    margin: .25rem;
}

.social-icons svg {
    color: var(--clr-background);
}

.social-icons svg:hover {
    color: var(--clr-accent);
    transition: color var(--transition);
}

.footer a {
    color: black;
}