.profile-img {
    height: 100%;
    align-self: center;
}

.profile-img img {
    height: 26rem;
    object-fit: cover;
}

.profile-text {
    padding: 1rem;
    width: 100%;
}

.meet-the-team h2 {
    font-size: 1.75rem;
    color: var(--clr-accent-dark);
    margin: .5rem 0;
}

.meet-the-team h3 {
    font-size: 1.125rem;
    color: var(--clr-accent);
}

.meet-the-team p {
    text-align: justify;
}

.col {
    width: 100%;
    text-align-last: center;
}

.col + .col {
    margin-left: 3rem;
}

.meet-the-team .row {
    align-items: normal;
}

