:root {
    font-size: 16px;
    line-height: 1.25rem;
    
    --clr-background: #2F4858;
    --clr-text: #DEDAAF;
    --clr-accent: #7AA38F;
    --clr-accent-dark: #568581;

    --transition: 300ms linear;
}

#root {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

section {
    flex: 1;
    height: auto;
}

.container {
    width: 75%;
    margin: auto;
}

a {
    text-decoration: none;
    font-size: .9rem;
}

h1 {
    font-size: 2.25rem;
    margin-bottom: 1.5rem;
    line-height: 1em;
}

h4 {
    font-size: 1.25rem;
}

p {
    font-size: 1.125rem;
    margin: 1rem 0;
}

img {
    object-fit: cover;
}

.header {
    padding: 2rem;
    background-color: var(--clr-accent-dark);
    color: var(--clr-text);
    text-align: center;
}

.row {
    display: flex;
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

@media screen and (min-width: 1200px){
    .container 
    {
        width: 60%
    }
}
