* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;

    --clr-background: #2F4858;
    --clr-text: #DEDAAF;
    --clr-accent: #7AA38F;
}

.container {
    width: 90%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}