.involved .grid-item{
    padding: 2rem
}

@media screen and (min-width: 600px){

.involved .container {
    display: grid;
    grid-template-columns: repeat(7,1fr);
    gap: 1.5rem;
}

.involved img {
    grid-column: span 3;
    height: 100%;
}

.involved .grid-item {
    grid-column: span 4;
    height: auto;
}

.involved img:nth-of-type(odd) {
    grid-column: span 3/-1;
    grid-row: 1/1;
}

.involved .grid-item:nth-of-type(odd) {
    grid-column: span 4;
    grid-row: 1/1;
}}