.nav-container {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-rows: auto auto;
    padding: 1rem;
}

.logo {
    grid-row: 1;
    grid-column: 1 / -1;
    place-self: center;
}

.logo img {
    padding: 1rem;
    height: 5rem ;
}

.navbar {
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    background-color: var(--clr-background) ;
}

.nav-item { 
   text-align: center;
   padding: .75rem 0;
   color: var(--clr-text);
}

.nav-item:hover {
    background-color: var(--clr-accent);
    transition: background-color var(--transition);
}

.nav-item a {
    color: var(--clr-text);
}


.dropdown {
    position: relative;
    text-align: center;
    padding: .75rem 0;
    color: var(--clr-text);
}

.dropdown-content {
    display: none;
    position:absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    min-width: 100%;
}

.dropdown:hover .dropdown-content{
    display: block;
    background-color: var(--clr-background);
}

.dropdown-item {
    display: block;
    text-align: center;
    padding: .25rem 0 ;
}

